.table td,
.table th {
  width: 25%;
}
table{
    width: 80vw;
    height: 45vh;
    max-width: 700px;
    table-layout: fixed;
}
td{
  vertical-align:center;
  text-align:center;
}
.calculator{
  margin:auto;
  display:table;
}
.result{
text-align: center;
}
.selectedSide{
  background-color:grey;
  color:red;
  transition:0.3s all linear;
}
.selectedNumber{
  transition:0.3s all linear;
  font-size:18px;
  color:red;
}