.table td,
.table th {
  width: 25%;
}
table{
    width: 80vw;
    height: 45vh;
    max-width: 700px;
    table-layout: fixed;
}
td{
  vertical-align:center;
  text-align:center;
}
.calculator{
  margin:auto;
  display:table;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.calculator:hover{
box-shadow: 0 4px 10px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.12);
    transform: scale(1.01);
}
.result{
text-align: center;
}
.selectedSide{
  background-color:grey;
  color:red;
  transition:0.3s all linear;
}
.selectedNumber{
  transition:0.3s all linear;
  font-size:18px;
  color:red;
}