<div class="card">
  <div class="card-body">
    <div class="calculator">
      <table>
        <tr>
          <td [ngClass]="{'selectedNumber': selectedSide==2}">
            {{numberOne}}
          </td>
          <td>+</td>
          <td [ngClass]="{'selectedNumber': selectedSide==3}">
            {{numberTwo}}
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="result">
            {{result}}
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td (click)="changeSide(2)" [ngClass]="{'selectedSide': selectedSide==2}">
            <- </td>
              <td>
                0
              </td>
              <td (click)="changeSide(3)" [ngClass]="{'selectedSide': selectedSide==3}">
                ->
              </td>
        </tr>
        <tr>
          <td *ngFor="let n of range(1,3)">
            {{n}}
          </td>
        </tr>
        <tr>
          <td *ngFor="let n of range(4,6)">
            {{n}}
          </td>
        </tr>
        <tr>
          <td *ngFor="let n of range(7,9)">
            {{n}}
          </td>
        </tr>
        <tr>
          <td colspan="3">
            Calculer
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>